.repository-name, .experiment-item {
  transition: background-color 300ms ease-in-out;
}

.clickable {
  cursor: pointer;
}

.repository-name:hover, .experiment-item:hover {
  background-color: #eee;
}
